---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++11

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterStruct: false
  AfterEnum: false
  AfterUnion: false
  BeforeElse: false
  SplitEmptyFunction: false
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
SpaceAfterCStyleCast: false
SortIncludes: false
IncludeBlocks: Preserve
